@font-face {
    font-family: Lato-Light;
    src: url(assets/fonts/Lato-Light.ttf);
}

@font-face {
    font-family: Lato;
    src: url(assets/fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: Lato-Bold;
    src: url(assets/fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: Lato-Black;
    src: url(assets/fonts/Lato-Black.ttf);
}

html {
    font-size: 0.98vw;
    font-family: Lato, serif;
}

body {
    overflow-x: hidden;
    width: auto;
    max-width: 100%;
    margin: 0;
}

header {
    height: 9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.7rem 0 4rem;
    background: #2d303a;
    border-bottom: .6rem solid #323746;
}

.header-logo {
    width: 11.5rem;
    height: 2rem;
}

.header-nav {
    padding-top: 1rem;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    width: 38.5rem;
}

.header-nav-li {
    color: #494e62;
    list-style-type: none;
}

.header-nav-li a {
    font: 1.2em "Lato-Bold", sans-serif;
    color: #FFFFFF;
    text-decoration: none;
}

.header-nav-li:first-child a {
    color: #f06c64;
}

.header-nav-li:hover a {
    color: #f06c64;
}

.header-nav-dot {
    width: .2rem;
    height: .2rem;
    list-style-type: none;
    background: #494e62;
    border-radius: 50%;
}

.slider-singolo {
    width: 100%;
    height: 59.4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #f06c64;
    border-bottom: .6rem solid #ea676b;
}

.slider-arrow-left {
    position: relative;
    bottom: 0.5rem;
}

.slider-arrow-right {
    position: relative;
    left: 2rem;
    bottom: .3rem;
    transform: rotate(180deg);
}

.slider-container {
    position: relative;
    bottom: .4rem;
    left: .8rem;
    display: flex;
    align-items: center;
}

.slider-phone-vert {
    width: 24rem;
    height: 48.3rem;
    margin-right: 7.3rem;
}

.slider-phone-hori {
    width: 48.4rem;
    height: 24rem;
}

.services-singolo {
    height: 43.5rem;
    background: #f2f2f2;
    padding: 6rem 0 0 4rem;
    border-bottom: .6rem solid #ffffff;
}

.services-header {
    margin: 0 0 1.8rem 0;
    font-size: 3rem;
    font-family: Lato-Black, serif;
    color: #666d89;
}

.services-description {
    margin: 0 0 4.6rem 0;
    font-size: 1.8rem;
    font-family: Lato-Light, serif;
    color: #767e9e;
    letter-spacing: -.02rem;
    line-height: 3rem;
}

.services-items {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.item-container {
    width: 30rem;
    margin: 0 2rem 3.2rem 0;
}

.item-image {
    float: left;
    margin-right: 2rem;
    width: 5.8rem;
    height: 5.8rem;
}

.item-header {
    margin: 0 0 0.6rem 0;
    float: right;
    width: 22.2rem;
    font-size: 1.8rem;
    font-family: Lato-Black, serif;
    color: #666d89;
}

.item-description {
    margin: 0;
    float: right;
    width: 22.2rem;
    font-size: 1.2rem;
    color: #767e9e;
    line-height: 2.2rem;
}



