@font-face {
    font-family: Lato-Light;
    src: url(assets/fonts/Lato-Light.ttf);
}

@font-face {
    font-family: Lato;
    src: url(assets/fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: Lato-Bold;
    src: url(assets/fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: Lato-Black;
    src: url(assets/fonts/Lato-Black.ttf);
}

body,
h1,
h2,
h3,
h4,
h5,
li,
ul,
p,
span {
    margin: 0;
}

html {
    font-size: 0.98vw;
    font-family: Lato, serif;
}

body {
    overflow-x: hidden;
    width: auto;
    max-width: 100%;
    margin: 0;
}

body>section>ul {
    list-style-type: none;
}

.singolo__portfolio {
    height: 74.4rem;
    background: #2d303a;
    border-bottom: .6rem solid #323746;
    padding: 6rem 2.2rem 6rem 4rem;
    z-index: 1;
}

.portfolio__header {
    margin-bottom: 2.1rem;
    font-family: Lato-Black, serif;
    font-size: 3rem;
    color: #484c5f;
}

.portfolio__description {
    margin-bottom: 1.6rem;
    font-family: Lato-Light, serif;
    font-size: 1.8rem;
    color: #767e9e;
}

.portfolio__topics {
    height: 2.2rem;
    width: 28.9rem;
    display: inline-flex;
    justify-content: space-between;
    padding: 0;
}

.potfolio__topics_item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: .1rem solid #666d89;
    border-radius: .4rem;
    padding: .6rem;
    color: #666d89;
}

.potfolio__topics_item:first-child {
    border-color: #c5c5c5;
}

.potfolio__topics_item:first-child>a {
    color: #c5c5c5;
}

.potfolio__topics_item>a {
    text-decoration: none;
    font-family: Lato, serif;
    color: #666d89;
    font-size: 1.2rem;
}

.portfolio__items {
    display: inline-flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: space-between;
    z-index: 100;
    margin-top: 1rem;
}

.portfolio__item{
    margin: 0.9rem 0;
}

.portfolio__item:nth-child(n+13) {
    display: none;
}

.portfolio__item>img {
    width: 22rem;
    height: 18.7rem;
}

.singolo__about {
    height: 61.5rem;
    background: #f2f2f2;
    border-bottom: .6rem solid #ffffff;
    padding: 5.8rem 2.4rem 5.8rem 4rem;
    z-index: 1;
}

.about__header {
    margin-bottom: 2rem;
    font-family: Lato-Black, serif;
    font-size: 3rem;
    color: #666d89;
}

.about__description {
    margin-bottom: 4.5rem;
    font-family: Lato-Light, serif;
    font-size: 1.8rem;
    color: #767e9e;
    line-height: 3rem;
}

.about__container {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.about__container_item {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 30.2rem;
}

.about__container_item>img {
    width: 30.2rem;
    height: 30.2rem;
}

.about__container_item>h3 {
    font-family: Lato-Black, serif;
    font-size: 1.8rem;
    color: #666d89;
    margin: 1.5rem 0;
}

.about__container_item>p {
    font-family: Lato, serif;
    font-size: 1.2rem;
    color: #767e9e;
    margin-bottom: 2.2rem;
    margin-top: -0.5rem;
    line-height: 2rem;
}

.item__social {
    display: inline-flex;
    justify-content: left;
}

.item__social>img {
    width: 3.2rem;
    height: 3.2rem;
    margin: .4rem;
}

.item__social>img:first-child {
    margin-left: 0;
}

.potfolio__topics_item:hover {
    border-color: #c5c5c5;
}

.potfolio__topics_item:hover>a {
    color: #c5c5c5;
}
