@font-face {
    font-family: Lato-Light;
    src: url(assets/fonts/Lato-Light.ttf);
}

@font-face {
    font-family: Lato;
    src: url(assets/fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: Lato-Bold;
    src: url(assets/fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: Lato-Black;
    src: url(assets/fonts/Lato-Black.ttf);
}

html {
    font-size: 0.98vw;
    font-family: Lato, serif;
}

body {
    display: block;
    margin: 0 auto 0 auto;
    width: 1020px;
}

header {
    position: fixed;
    width: 963px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 17px 0 40px;
    background: #2d303a;
    border-bottom: 6px solid #323746;
    z-index: 100;
}

.header-logo {
    display: inline-flex;
    justify-content: start;
    font: 25px "Lato-Bold", sans-serif;
    color: #FFFFFF;
}

.header-logo p {
    font: 25px "Lato-Bold", sans-serif;
    color: #f06c64;
}

.header-nav {
    padding: 0;
    margin-top: 3px;
    margin-right: 15px;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    width: 385px;
}

.header-nav-li {
    list-style-type: none;
    cursor: pointer;
    font: 12px "Lato-Bold", sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    animation: 0.5s ease-in-out;
}

.header-nav-li:hover {
    color: #f06c64;
}

.header-nav-li:active {
    color: #c7c8c7;
}

.header-nav-li-selected {
    color: #f06c64;
}

.header-nav-dot {
    width: 2px;
    height: 2px;
    list-style-type: none;
    background: #494e62;
    border-radius: 50%;
}

.slider-singolo {
    width: 100%;
    padding-top: 93px;
    height: 594px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.slider-arrow-left {
    position: absolute;
    left: 25%;
    z-index: 20;
    filter: alpha(Opacity=50); /* Полупрозрачность для IE */
    opacity: 0.5; /* Полупрозрачность для других браузеров */
}

.slider-arrow-right {
    position: absolute;
    right: 25%;
    z-index: 20;
    transform: rotate(180deg);
    filter: alpha(Opacity=50); /* Полупрозрачность для IE */
    opacity: 0.5; /* Полупрозрачность для других браузеров */
}

.slider-arrow-left:hover,
.slider-arrow-right:hover {
    filter: alpha(Opacity=100); /* Полупрозрачность для IE */
    opacity: 1; /* Полупрозрачность для других браузеров */
}

.slider-container {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.slide {
    width: 100%;
    height: 600px;
    display: none;
    animation: 0.5s ease-in-out;
    z-index: 10;
}

.slider-slide1 {
    position: absolute;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: #f06c64;
    border-bottom: 6px solid #ea676b;
}

.slider-slide2 {
    position: absolute;
    height: 100%;
    background: url(./assets/header/2-iphones.png) no-repeat;
    border: 0;
    border-bottom: 6px solid #5a88fc;
}

.slider-container>.slide-active {
    display: flex;
}

.slider-phone-vert {
    width: 240px;
    height: 483px;
    margin-right: 73px;
}

.slider-phone-hori {
    width: 484px;
    height: 240px;
}

.slider-phone-hori-black1 {
    display: none;
    position: absolute;
    left: 14px;
    bottom: 143px;
    width: 189px;
    height: 333px;
    background: #000;
}

.slider-phone-hori-black2 {
    display: none;
    position: absolute;
    right: 91px;
    bottom: 218px;
    width: 333px;
    height: 189px;
    background: #000;
}

@keyframes left {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}

@keyframes right {
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}

.item {
    display: none;
    margin: 0 auto;
    animation: 0.5s ease-in-out;
}

.item.active {
    display: block;
}

.item-container {
    overflow: hidden;
}

.active,
.next {
    display: block;
}

.next {
    position: absolute;
    top: 0;
    width: 100%;
}

.to-left {
    animation-name: left;
}

.to-right {
    animation-name: right;
    animation-direction: reverse;
}

.from-left {
    animation-name: left;
    animation-direction: reverse;
}

.from-right {
    animation-name: right;
}

.services-singolo {
    height: 435px;
    background: #f2f2f2;
    padding: 60px 0 0 40px;
    border-bottom: 6px solid #ffffff;
}

.services-header {
    margin: 0 0 18px 0;
    font-size: 30px;
    font-family: Lato-Black, serif;
    color: #666d89;
}

.services-description {
    margin: 0 0 46px 0;
    font-size: 18px;
    font-family: Lato-Light, serif;
    color: #767e9e;
    letter-spacing: -.2px;
    line-height: 30px;
}

.services-items {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.item-container {
    width: 300px;
    margin: 0 20px 32px 0;
}

.item-image {
    float: left;
    margin-right: 19px;
    width: 59px;
    height: 59px;
}

.item-header {
    margin: -4px 0 6px 0;
    float: right;
    width: 219px;
    font-size: 18px;
    font-family: Lato-Black, serif;
    color: #666d89;
}

.item-description {
    margin: 0;
    float: right;
    width: 219px;
    font-size: 12px;
    color: #767e9e;
    line-height: 22px;
}

h1,
h2,
h3,
h4,
h5,
li,
ul,
p,
span {
    margin: 0;
}

body>section>ul {
    list-style-type: none;
}

.singolo__portfolio {
    height: 766px;
    background: #2d303a;
    border-bottom: 6px solid #323746;
    padding: 58px 40px 37px 40px;
    z-index: 1;
}

.portfolio__header {
    margin-bottom: 21px;
    font-family: Lato-Black, serif;
    font-size: 30px;
    color: #484c5f;
}

.portfolio__description {
    margin-bottom: 12px;
    font-family: Lato-Light, serif;
    font-size: 18px;
    color: #767e9e;
}

.portfolio__topics {
    height: 22px;
    width: 289px;
    display: inline-flex;
    justify-content: space-between;
    padding: 0 0 0 1px;
}

.potfolio__topics_item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #666d89;
    border-radius: 4px;
    padding: 6px;
    color: #666d89;
    text-decoration: none;
    font-family: Lato, serif;
    font-size: 12px;
}

.portfolio__topics_item_selected {
    color: #c5c5c5;
    border-color: #c5c5c5;
}

.potfolio__topics_item:hover {
    color: #c5c5c5;
    border-color: #c5c5c5;
    cursor: pointer;
}

.portfolio__items {
    display: inline-flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: space-between;
    z-index: 100;
    margin-top: 10px;
}

.portfolio__item{
    margin: 8px 0;
    list-style-type: none;
    cursor: pointer;
}

.portfolio__item_selected {
    border: 5px solid #f0e897;
    box-sizing: border-box;
    transition: 0.1s ease;
}

.portfolio__item:nth-child(n+13) {
    display: none;
}

.portfolio__item>img {
    width: 220px;
    height: 187px;
}

.singolo__about {
    height: 612px;
    background: #f2f2f2;
    border-bottom: 6px solid #ffffff;
    padding: 58px 39px 58px 40px;
    z-index: 1;
}

.about__header {
    margin-bottom: 20px;
    font-family: Lato-Black, serif;
    font-size: 30px;
    color: #666d89;
}

.about__description {
    margin-bottom: 44px;
    font-family: Lato-Light, serif;
    font-size: 18px;
    color: #767e9e;
    line-height: 30px;
}

.about__container {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.about__container_item {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 302px;
}

.about__container_item>img {
    width: 300px;
    height: 300px;
}

.about__container_item>h3 {
    font-family: Lato-Black, serif;
    font-size: 18px;
    color: #666d89;
    margin: 15px 0;
}

.about__container_item>p {
    font-family: Lato, serif;
    font-size: 12px;
    color: #767e9e;
    margin-bottom: 20px;
    margin-top: -5px;
    line-height: 20px;
}

.item__social {
    display: inline-flex;
    justify-content: left;
}

.item__social>img {
    width: 32px;
    height: 32px;
    margin: 4px;
}

.item__social>img:first-child {
    margin-left: 0;
}

.item__social>img:hover {
    background: #cccce4;
    border: 0.1px solid white;
    border-radius: 50%;
}

.footer__quote {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 59px 15px 59px 40px;
    height: 530px;
    background: #f06c64;
    border-bottom: 6px solid #ea676b;
}

.quote__header {
    margin: 0 0 18px 0;
    font: 30px "Lato-Black", sans-serif;
    color: #f0d8d9;
}

.quote__description {
    margin: 0 0 43px 0;
    font: 18px "Lato-Light", sans-serif;
    color: #f0d8d9;
    line-height: 1.7;
}

.quote__container {
    display: inline-flex;

}

.quote__container_form {
    margin-right: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 620px;
    height: 422px;
}

.quote__container_form input,
.quote__container_form textarea {
    padding: 0 15px;
    border: 0.001px solid;
    border-radius: 6px;
    background: #d6564f;
    color: #f48c8f;
    font: 12px "Lato", sans-serif;
}

.quote__container_form input::placeholder,
.quote__container_form textarea::placeholder {
    color: #f48c8f;
    font: 12px "Lato", sans-serif;
}

.quote__container_form input {
    height: 38px;
}

.quote__submit {
    width: 120px;
}

.quote__submit:hover{
    background: #FFFFFF;
}

.quote__container_form textarea {
    padding: 13px 15px;
    resize: none;
}

.quote__article {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 303px;
}

.article__header {
    margin: 0;
    font: 18px "Lato-Black", sans-serif;
    color: #f0d8d9;
    width: 100%;
}

.article__description {
    font: 12px "Lato", sans-serif;
    color: #f0d8d9;
    width: 100%;
    line-height: 22px;
    margin: 7px 0 0 0;
}

.article__list {
    margin-top: 23px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    height: 60px;
}

.article__item {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: start;
    font: 12px "Lato", sans-serif;
    color: #f0d8d9;
}

.article__item:first-child:before {
    content: url("assets/footer/icon1.png");
    margin: 0 15px 0 1px;
}

.article__item:before {
    content: url("assets/footer/icon2.png");
    margin: 0 10px 0 1px;
}

.article__item:last-child:before {
    content: url("assets/footer/icon3.png");
    margin: 0 9px 0 0;
}

.footer__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 76px;
    width: auto;
    padding: 0 40px 0 42px;
    background: #2d303a;
}

.footer__copyright {
    font: 12px "Lato-Bold", sans-serif;
    color: #5b6179;
}

.footer__social {
    margin-top: 1px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    width: 152px;
}

.footer__social_list:hover>img {
    background: #cccce4;
    border: 0 solid white;
    border-radius: 50%;
}
